nvim/.config/nvim/.git/
nvim/.config/nvim/.github/
nvim/.config/nvim/doc/
nvim/.config/nvim/README.md
nvim/.config/nvim/lazy-lock.json
nvim/.config/nvim/LICENSE.md

tags
test.sh
.luarc.json

spell/
lazy-lock.json

