configuration{
	modi: "run,window,combi";
	icon-theme: "Oranchelo";
	show-icons: true;
	terminal: "alacritty";
	matching: "fuzzy";
	disable-history: false;
	hide-scrollbar: true;
}
@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
